  *{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    font-family: "Calibri", sans-serif;
  }
  
  main{
      padding: 20px;
      width: 80%;
      overflow: auto;
      margin: auto;
  }
  table.chessboard {
    background: burlywood;
    float: left;
    table-layout: fixed;
  }

  td.chessboard {
    width: 70px;
    height: 70px;
    border: 2px solid #84421e;
    font-size: 390%;
    text-align: center;
    padding: 0px;
  }
  
  tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
  tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background:  #84421e;
    /* border: px solid #84421e;    */
  }
  section.window {
    /* padding: 10px; */
    background: rgb(94, 91, 91);
    width: 300px;
    height: 592px;
    float: right;
    color: black;
    border-radius: 4px;
  }
  .changeGame{
    width: 280px;
    margin: auto;
    position: relative;
    left: 46px;
    top: 5px;
  }
  .changeGame button {
    background: rgb(212, 212, 212);
    width: 60px;
    height: 40px;
    float: left;
    border: 0px;
    margin: 3px;
    border-radius: 4px;
    transition-duration: 0.4s;
    
  }
  .changeGame button:hover{
    background:  rgb(175, 175, 175);
    
  }
  .changeGame button img.imgControl{
    height: 38px;
    object-fit: cover;
  }
  .window h2{
    color: rgb(189, 189, 189);
    position: relative;
    left: 20px;
    font: 400 40px/1.2 'Merienda One', Helvetica, sans-serif;  
  }
  .window h2::after{
    content: "★ ";
  }
  div.movesWindow{
    height: 55%;
    background-color: white;
    border-top: 0.8px solid rgb(59, 59, 59);
    border-bottom: 0.8px solid rgb(59, 59, 59);
    overflow-y: scroll;            
    overflow-x: hidden;          
  }
  table.movesTable{
    background: white;
    width: 300px;
    position: static;
  }
  td.movesTable{
    border: 0px;
    height: 35px;
  }
  tr.movesTable{
    height: 35px;
  }
  .movesWindow tr{
    height: 35px;
    font: 17px bold;
    background: rgb(212, 212, 212);

  }
  .movesWindow tr:nth-child(odd){
    background-color: white;
  }
 
  .layer{
    width: 100%;
    height: 100%;
  }

  #p2show{
    top: 20px;
  }

  #totalwindow{
    overflow-x: hidden;
  }
  
  