body {
    overflow: hidden;
    background-image: url(../images/Background\ chess\ splashscreen2.jpg);
    height: 600px;
  background-position: center;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  
}

h1 {
    font-size: 600%;
    text-align: center;
    line-height: 0px;
    margin-top: 10px;
    color:burlywood;
}
.wrapper{
    position: relative;
    margin-top: 400px;
}
.playGame {
    text-align: center;
}

.button {
    padding: 15px 32px;
    text-align: center;
    width: 700px;
    height: 200px;
    color:burlywood;
    background-color: rgba(132, 66, 30, 0.9);
    font-size: 80px;
    border: none;
}

.table {
    position: absolute;
    right: 0px;
    bottom: 0px;
    float: right;
}

.statistics {
    list-style: none;
    font-size: 150%;
    text-align: left;
    padding: 0px;
    color:burlywood;
    background-color: rgba(132, 66, 30, 0.9)
}