<!DOCTYPE html>
<html>
	<head>
		<title>Classic Chess</title>
	</head>
	<body>
		<header>
			<h1>Classic Chess</h1>
		</header>

		<main>
			<section id="button">
				<form action="/play" method="get">
                    <button type="submit">PLAY</button>
                </form>
            </section>
		</main>

		<footer>
			<ul>
				<li> Active Games</li>
				<li> Games Played</li>
			</ul>
		</footer>
	</body>
</html>